.Open-Sans-normal-300 {
  font-family: 'Open Sans' !important;
  font-style:  normal;
  font-weight: 300;
}
.Open-Sans-normal-400 {
  font-family: 'Open Sans' !important;
  font-style:  normal;
  font-weight: 400;
}
.icon-location {
	width: 45px;
    height: 30px;
    background-position: -100px -150px;
    background-image: url(../img/sprite.png) !important;
	background-repeat: no-repeat;
    top: 12px;
    left: 18px;
}
.correct_calendar_table {
	padding: 0px !important;
	color: #0088cc !important;
}
body {
	padding-top: 90px;
	padding-bottom: 40px;
	background: #fff url(../img/fondo-interno.jpg) repeat-x center top;
	font-family: 'Open Sans', sans-serif;
	color:#666;
}
h1, h2, h3, h4, h5{font-weight:normal;}

/* Calendario Full Width */
#calendario{
	text-transform: lowercase;
}

/* Paddings
-------------------------------------------------- */
.full-padded{
	padding: 20px;
}
.left-padded {
	padding: 0 0 0 20px;
}
.right-padded {
	padding: 0 20px 0 0;
}

/* Estilos para los templates
-------------------------------------------------- */
.container h1{
	color:white;
}
.background-white {
	background: white;
}
.right {
	float: right;
}
.left {
	float: left;
}
.rounded {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.shadow {
	-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.centered-text{
	text-align: center;
}
.capitalize{
	text-transform: capitalize;
}

/* DONDE SE USA ESTO?
-------------------------------------------------- */
.miboton ,.miboton:hover {
    text-decoration: none; background: none !important; color: white; font-weight: bold
}
select.multi{height: 250px}

/* Homepage - Categorias
-------------------------------------------------- */
#home-categories .span12 .row > :first-child .elemento{
	padding-left: 20px;
}
#home-categories .span12 .row > :last-child .elemento{
	padding-right: 20px;
}
#home-categories .elemento {
	padding:20px 0;
}

#home-categories .elemento .ver_todo{
	float:right;
	margin:20px 0 0 0;
	font-size: 16px;
}
#home-categories .elemento .ver_todo a span{
	display:none;
}
#home-categories .elemento .ver_todo:hover > a span{
	display:inline-block;
}
#home-categories .elemento .ver_todo a{
	color: #999;
}
#home-categories .elemento .ver_todo a:hover{
	text-decoration: none;
}
#home-categories .elemento .ver_todo img{
	margin-top:-3px;
}
#home-categories .elemento h2, #home-categories .elemento h2 a {
	color:#999; text-decoration:none;
}
#home-categories .elemento h2 span{
	width:10px;	height:50px;
	display:block; float:left;
	margin-right: 20px;
	margin-top:-5px;
}

/* Controles
-------------------------------------------------- */
.controles {
	padding: 0 0 20px 0;
}

/* Barra de navegacion superior
-------------------------------------------------- */
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
color: #fff;
}

/* Dropdown de la barra estatica superior
-------------------------------------------------- */
.dropdown-block {
	padding: 20px;
	margin: 0;
}

.dropdown-block a {
	display: inline-block;
	padding: 4px 14px;
	color: #fff;
}
.dropdown-block form {
	margin-bottom:0;
}

.dropdown-block .loginbar_social img{
	width:150px;
	margin:0 10px;
}

/* Mensajes de error, info, warning, success
-------------------------------------------------- */
#box-errors{margin: 14px 0 10px 10px;font-family: Helvetica;background: #F4BFBF;width: 400px;padding: 6px}
#box-errors span{font-weight: bold;font-size: 12px}
#box-errors ul{margin-top: 10px}
#box-errors li.errorli{line-height: 20px;color: #6B0505;font-size: 12px;font-family: Helvetica}
.info, .warning, .success, .error-cambiado {padding:15px 10px 15px 50px;	margin-bottom: 10px;}
.info{background:#444444;color:#FFFFFF;}
.warning{background:#FFFFCC;color:#222222;}
.success{background:#008000;color:#FFFFFF;}
.error-cambiado{background:#CC0000;color:#FFFFFF;}

/* Categorias - suscripcion
-------------------------------------------------- */
#lista-categorias .categoria{
	height:315px;
	text-align:center;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
}
#lista-categorias .categoria:hover{
	background:#eee;
}
#lista-categorias .categoria h2{
	font-size:18px;
	line-height:25px;
	height: 50px;
}
#lista-categorias .categoria p.suscritos{
	margin: 10px 0 0 0;
	font-size:12px;
}
.categoria-descripcion {
	height: 70px;
	overflow: hidden;
}

/*para arreglar el ancho minimo del combo de bootstrap twitter*/
select {
    width: auto !important;
}

.calendar a{font-weight: bold;font-size: 15px}

/* Evento - Agregar
-------------------------------------------------- */
.evento-add-form section{
	padding-top:30px;
}
/* Sidenav for Docs */
.bs-docs-sidenav {
  display:none;
  padding: 0;
  background-color: #fff;
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 70px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

#foto-evento{

}

#action_buttons_sidebar{
	text-align: center;
	margin: 20px 0;
}


/* Evento - Detalle
-------------------------------------------------- */
#imagen{
	position:relative;
	text-align:center;
	background:#eee;
}
#imagen #main-image{
	cursor:pointer;
}
#info-small{
	background: rgba(0,0,0,0.5);
	position:absolute;
	bottom:0; left:0;
	width:100%;
}
#info-small #icons{
	float:left;
	padding: 10px 0 0 10px;
	letter-spacing: 8px;
}
#info-small h1{
	color:white;
	font-size:14px;
	float:right;
	padding: 0 20px 0 0;
	margin:0;
}
#info-medium{
	background: #eee;
	display:inline-block;
	width:100%;
	font-size:18px;
	font-weight: bold;
	margin: 20px 0 0 0;
}
#info-medium #organizador{
	color:#37b1c2;
	padding: 10px;
	text-align: left;
}
#info-medium #fecha{
	color:#84b526;
	padding: 10px;
	text-align: right;
}
#info-medium span{
	font-size:13px;
	color:#999;
}
#icons #capacidad{
	position: relative;
	display: inline-block;
	letter-spacing: normal;
}
#icons #capacidad #cantidad{
	display:none;
	color: #333;
	background: white;
	font-size: 10px;
	font-family: verdana;
	position: absolute;
	top: -15px; left: 0;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	line-height: 13px;
	padding: 0 2px;
}
#icons #capacidad:hover > #cantidad{
	display:block;
}

.block{
	background: #EEE;
	padding: 20px 20px 10px 20px;
	margin-bottom:20px;
}

#evento-gratuito{
	position: absolute;
	top: 0; left: 0;
}

#modal-fechas{
	display:none;
	width: 60%;
	margin-left: -30%;
}
#modal-mapa{
	display:none;
	width: 80%;
	margin-left: -40%;
}
#map-canvas{
	width:100%;
	height:300px;
}

#social ul{
	margin-left:0;
}
#social ul li{
	list-style: none;
	float:left;
	display:block;
	margin-right: 10px;
}
#social #mail img{
	margin-top: -6px;
}

/* Comentarios de FB
-------------------------------------------------- */
#comentarios .fb-comments{width: 100% !important;}
#comentarios .fb-comments iframe[style]{width: 100% !important;}
#comentarios .fb-like-box{width: 100% !important;}
#comentarios .fb-like-box iframe[style]{width: 100% !important;}
#comentarios .fb-comments span{width: 100% !important;}
#comentarios .fb-comments iframe span[style]{width: 100% !important;}
#comentarios .fb-like-box span{width: 100% !important;}
#comentarios .fb-like-box iframe span[style]{width: 100% !important;}

.thumb-image{
	float: left;
	margin-right: 20px;
	height:77px;
	overflow:hidden;
}
.thumb-image img{
	background: #EEE;
	padding: 5px;
}

/* evento-relacionado
-------------------------------------------------- */
.evento-relacionado {
	padding: 15px 0px 15px 0;
	border-bottom:1px solid #eee;
	min-height: 77px;
}

.evento-relacionado:hover {
	background: #eee;
}

/* slide homepage
-------------------------------------------------- */
.flexslider{
	background:none !important;
	border:0 !important;
	-moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.0) !important;
	-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.0) !important;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.0) !important;
}
.flexslider .slides > li {
	padding: 0 5px;
}

.flexslider .slides li h2 {
position: relative !important;
margin-top: 0px !important;
padding: 5px 0 !important;
background: rgba(0, 0, 0, 0.85) !important;
text-align: center !important;
font-size: 18px !important;
color: white !important;
}

/* Login / Register
-------------------------------------------------- */
#cuenta_esceniko{
	border:1px solid #ddd;
	text-align:center;
	padding:20px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#cuenta_esceniko:hover{
	background:#eee;
}
#cuenta_social{
	border:1px solid #ddd;
	text-align:center;
	padding:20px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#cuenta_social:hover{
	background:#eee;
}
#loginbar_block_link{
	display:none;
}

/* Leyenda
-------------------------------------------------- */
ul.leyenda-cats {
	width: 500px;margin:auto; overflow:hidden;
}
.leyenda-cats li{
	width: 50%;float:left;display:inline;
}
.botones_form * {
	margin: 8px;
}
.ul-buscar {
	width: 328px;
}
.ul-buscar div {
	display: inline-block;
	vertical-align: top;
}
.ul-buscar li {
	padding: 10px 14px 7px;
}
.ul-buscar .buscar {
	margin: 5px 0;
}
.derecha_editar {
	float: right;
	font-size: 0.45em;
	display: block;
}
.derecha_editar a {
	display: inline-block;
	-webkit-transition: all 1s ease;
	text-decoration:none;
	color: #000;
	font-weight: bold;
}
.derecha_editar a:hover {
	color: #40A4BC;
	-webkit-transform: scale(1.2);
}
.login_registro {
	text-align: center;
	width: 46%;
	display: inline-block;
	vertical-align: top;
}
.evento_finalizado {
	text-align: center;
	background: #F66;
	color: white;
}
.alert-white {
	background-color: white;
	border-color: whitesmoke;
	color: #C00132;
}
.pointer_hover, i.icon-remove {
	cursor: pointer;
	padding: 4px;
}
.div_circulo {
	position: relative;
	top: 5px;
	left: 5px;
	width: 28px;
	height: 28px;
}
.circulo {
	top: -5px;
	left: -5px;
	position: absolute;
	width: 35px;
	height: 30px;
}
/* Dashboard */
.opciones_admin{
	float: right;
	margin-left: 4px;
}

.boton-participar, .boton-participar .btn-group, .ajaxify_container {
	display:inline-block;
}

.tab-content{
	overflow:inherit;
}

#estadistica{
	text-align: center;
	color: #333;
}
#estadistica .dato{
	background:#eee;
	padding: 10px 0;
}

#detalle_costo{
	height: 120px;
	margin: 9px 0;
}

#descripcion{text-align: justify;padding: 5px}

/* Responsive que va al final del archivo
-------------------------------------------------- */


@media all and (min-width:310px) and (max-width:480px){
	#action_buttons_sidebar{
		display:none;
	}
	#action_buttons_form{
		display:block;
	}
}

@media (min-width:768px) and (max-width:979px){
	#loginbar_block{
		display:none;
	}
	#loginbar_block_link{
		display:block;
	}
	.evento-add-form{
		width:100% !important;
		margin-left:0 !important;
	}
}
@media (max-width:767px){}
@media (max-width:767px){
	#home-categories .span12 .row > :first-child .elemento{
		padding: 0 20px 0 20px;
	}
	#home-categories .span12 .row > :last-child .elemento{
		padding: 0 20px 0 20px;
	}
	.flexslider{
		display:none;
	}
	.left-padded {
		padding: 0 0 0 20px;
	}
	.right-padded {
		padding: 0 20px 0 0;
	}
	#imagen{
		margin-top:0;
	}
	#imagen #main-image{
		width:100%;
	}
	#modal-mapa{
		width: auto;
		margin: 0;
		top:20px;
	}
	#modal-fechas{
		width: auto;
		margin: 0;
		top:20px;
	}
	.form-search{display:block;background:none;margin:0;text-align: center;padding-right: 0;}
}
@media (max-width:480px){}
@media (min-width:768px) and (max-width:979px){}
@media (min-width:1200px){
	.bs-docs-sidenav {
		display:block;
		width: 260px;
	}
}
@media (max-width:979px){
	#action_buttons_sidebar{
		display:none;
	}
	#action_buttons_form{
		display:block;
	}
	.boton-participar, .boton-participar .btn-group, .ajaxify_container {
		display:block;
	}
	.evento-relacionado {
		min-height: 126px;
	}
}
@media (min-width:980px){}
@media (min-width:980px) and (max-width:1200px){
	.bs-docs-sidenav {
		display:block;
		width: 211px;
	}
}