.task{border:none;}
.more_info{
	display:none;
	z-index: 10;
	position:absolute;
	top: 60px;
	left: 6px;
	
	min-width: 11px;
	min-height: 11px;
	background: transparent url(../img/the-master-information-box.gif) no-repeat 0 0;
	padding: 15px 0 0 0px;
	margin: 0;
}
.information{ display:none; }
.task:hover .more_info, .more_info:hover .information{ display: block; }

.droppable{ padding-bottom: 50px; }
.draggable{ margin:20px; }
select.selectable{ font-size:9px; }
select { width:78px; }
